*.user
Src/.vs
Src/BeebEm.VC.db
Src/BeebEm.VC.VC.opendb
Src/Debug
Src/Release
Src/Hardware/Acorn1770/Debug
Src/Hardware/Acorn1770/Release
Src/Hardware/OpusDDOS/Debug
Src/Hardware/OpusDDOS/Release
Src/Hardware/Watford/Debug
Src/Hardware/Watford/Release
Src/InnoSetup/Release
