*.user
Src/.vs
Src/BeebEm.aps
Src/BeebEm.VC.db
Src/BeebEm.VC.VC.opendb
Src/BeebEm.user.props
Src/Debug
Src/Release
Src/x64/Debug
Src/x64/Release
Src/Hardware/Acorn1770/Debug
Src/Hardware/Acorn1770/Release
Src/Hardware/Acorn1770/x64/Debug
Src/Hardware/Acorn1770/x64/Release
Src/Hardware/OpusDDOS/Debug
Src/Hardware/OpusDDOS/Release
Src/Hardware/OpusDDOS/x64/Debug
Src/Hardware/OpusDDOS/x64/Release
Src/Hardware/Watford/Debug
Src/Hardware/Watford/Release
Src/Hardware/Watford/x64/Debug
Src/Hardware/Watford/x64/Release
Src/InnoSetup/Debug
Src/InnoSetup/Release
Src/InnoSetup/x64/Debug
Src/InnoSetup/x64/Release
Src/ZipFile/Debug
Src/ZipFile/Release
Src/ZipFile/x64/Debug
Src/ZipFile/x64/Release
Src/BeebEm/x64/Debug
Src/BeebEm/x64/Release
